* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
  }

  h1 {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  p {
    font-weight: 400;
    font-size: 24px;
    margin: 20px 100px;
    text-align: center;
  }

  section {
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 30%);
    width: 100%;
  }
  
  .intro {
    text-align: center;
    display: block;
  }

  .hide {
    display: none;
  }

  #questions-container {
    display: none;
  }

  /* .intro button {
    margin: 0;
    top: 25%;
    left: 50%;
  } */
  /* .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  } */
  
  /* .correct-incorrect-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  } */
  
  button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: radial-gradient(circle, rgb(107, 34, 126) 0%, rgba(223, 242, 243, 0.954) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-weight: 600;
    /* font-size: 1.5em; */
    /* letter-spacing: 0.21px; */
    line-height: 14px;
    max-width: 325px;
    /* padding: 10px 54px; */
    text-align: center;
    /* transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear; */
    margin-top: 0.2em;
    font-size: 1.2rem; 
    float: left;
    margin-left: 5px;
    /* border-radius: 4px; */
    padding: 10px 34px;
    letter-spacing: 0.31px;
  }
  
  header {
    padding: 10px;
    /* display: flex; */
    flex-wrap: wrap;
    text-align: center;
    /* background: #fff; */
    color: #13293d;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
    /* border-bottom:30px #879274; */
  }

  .code-quiz {
    display: inline-block;
    flex-wrap: wrap;
  }

  #questions-container {
    display: inline-block;
  }

  #answers-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
  }

  #questions {
    display: none;
  }
  
  /* main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  
  /* section {
    flex: 0 auto;
    /* padding: 8px; */
    /* margin-top: 20px;
    background-color: white;
    border-radius: 4px;
  } */ 
  
  #view-highscore {
    /* width: 12vw; */
    /* height: 100px; */
    text-decoration: underline;
    border: none;
    font-size: 1.2rem; 
    float: left;
    margin-left: 5px;
    /* border-radius: 4px; */
    padding: 10px 44px;
    letter-spacing: 0.31px;
    border-radius: 8px;
    /* width: 30vw;
    height: 100px; */
    /* margin-left: 5px; */
  }

  #timer-count {
     /* width: 30vw;
    height: 100px; */
    font-size: 1.2rem; 
    font-weight: bolder;
    float: right;
    margin-right: 5px;
    padding: 10px 54px;
    background: radial-gradient(circle, rgb(107, 34, 126) 0%, rgba(223, 242, 243, 0.954) 100%);
    border-radius: 8px;
    color: #13293d;
       /* width: 30vw;
    height: 100px; */
    /* margin-left: 5px; */
 }

 #start-button {
  background: radial-gradient(circle, rgb(107, 34, 126) 0%, rgba(223, 242, 243, 0.954) 100%);
  border-radius: 8px;
  flex-wrap: wrap;
  color: #13293d;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.21px;
  line-height: 14px;
  max-width: 325px;
  padding: 10px 54px;
  text-align: center;
  margin-left: 420px;

  /* transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear; */
  margin-top: 0.2em;
 }

  /* #code-quiz {
    width: 55vw;
    height: 400px;
    line-height: 360px;
  } */
  
  .card {
    margin: auto;
    padding: 10px;
  }

  .large-font {
    font-size: 3em;
    font-weight: 750;
    /* text-align:justify; */
  }

  .medium-font {
      font-size: 2.5em;
      text-align: center;
  }

  .small-font {
      font-size: 1.2em;
      text-align: start;
  }
  
  .timer-text {
    padding: 10px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    #code-quiz {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    #large-font {
      font-size: 2em;
    }
  
    #start-button {
      font-size: 16px;
      width: 30ox;
      
    }
  
    .timer {
      height: 50px;
    }
   
  };